- @no_container = true
- add_to_breadcrumbs "Tags", project_tags_path(@project)
- breadcrumb_title @tag.name
- page_title "编辑", @tag.name, "标签"

%div{ class: container_class }
  .sub-header-block.no-bottom-space
    .oneline
      .title
        标签
        %strong= @tag.name
        的发布备注


  = form_for(@release, method: :put, url: project_tag_release_path(@project, @tag.name),
             html: { class: 'common-note-form release-form js-quick-submit' },
             data: { markdown_version: @release.cached_markdown_version }) do |f|
    = render layout: 'projects/md_preview', locals: { url: preview_markdown_path(@project), referenced_users: true } do
      = render 'projects/zen', f: f, attr: :description, classes: 'note-textarea', placeholder: "Write your release notes or drag files here…"
      = render 'shared/notes/hints'
    .error-alert
    .prepend-top-default
      = f.submit '保存修改', class: 'btn btn-save'
      = link_to "取消", project_tag_path(@project, @tag.name), class: "btn btn-default btn-cancel"
