- page_title "应用"
- @content_class = "limit-container-width" unless fluid_layout

.row.prepend-top-default
  .col-lg-4.profile-settings-sidebar
    %h4.prepend-top-0
      = page_title
    %p
      - if user_oauth_applications?
        管理将 GitLab 作为 OAuth 提供者的应用，
        和授权使用你的账号的应用。
      - else
        管理授权使用你的账号的应用。
  .col-lg-8
    - if user_oauth_applications?
      %h5.prepend-top-0
        增加新的应用
      = render 'form', application: @application
      %hr
    - if user_oauth_applications?
      .oauth-applications
        %h5
          您的应用 (#{@applications.size})
        - if @applications.any?
          .table-responsive
            %table.table
              %thead
                %tr
                  %th 名称
                  %th 回调链接
                  %th 客户端
                  %th.last-heading
              %tbody
                - @applications.each do |application|
                  %tr{ id: "application_#{application.id}" }
                    %td= link_to application.name, oauth_application_path(application)
                    %td
                      - application.redirect_uri.split.each do |uri|
                        %div= uri
                    %td= application.access_tokens.count
                    %td
                      = link_to edit_oauth_application_path(application), class: "btn btn-transparent append-right-5" do
                        %span.sr-only
                          编辑
                        = icon('pencil')
                      = render 'delete_form', application: application, small: true
        - else
          .settings-message.text-center
            没有任何应用
    .oauth-authorized-applications.prepend-top-20.append-bottom-default
      - if user_oauth_applications?
        %h5
          已认证的应用 (#{@authorized_tokens.size})

      - if @authorized_tokens.any?
        .table-responsive
          %table.table.table-striped
            %thead
              %tr
                %th 名称
                %th 认证时间
                %th 范围
                %th
            %tbody
              - @authorized_apps.each do |app|
                - token = app.authorized_tokens.order('created_at desc').first
                %tr{ id: "application_#{app.id}" }
                  %td= app.name
                  %td= token.created_at
                  %td= token.scopes
                  %td= render 'doorkeeper/authorized_applications/delete_form', application: app
              - @authorized_anonymous_tokens.each do |token|
                %tr
                  %td
                    匿名
                    .form-text.text-muted
                      %em 通过在应用中输入你的账号和密码认证授权。
                  %td= token.created_at
                  %td= token.scopes
                  %td= render 'doorkeeper/authorized_applications/delete_form', token: token
      - else
        .settings-message.text-center
          没有任何已认证的应用
