- add_to_breadcrumbs "Applications", oauth_applications_path
- breadcrumb_title @application.name
- page_title @application.name, "应用"
- @content_class = "limit-container-width" unless fluid_layout

%h3.page-title
  应用：#{@application.name}

.table-holder.oauth-application-show
  %table.table
    %tr
      %td
        应用 Id
      %td
        %code#application_id= @application.uid
    %tr
      %td
        密匙：
      %td
        %code#secret= @application.secret

    %tr
      %td
        回调链接
      %td
        - @application.redirect_uri.split.each do |uri|
          %div
            %span.monospace= uri

    = render "shared/tokens/scopes_list", token: @application

.form-actions
  = link_to '编辑', edit_oauth_application_path(@application), class: 'btn btn-primary wide float-left'
  = render 'delete_form', application: @application, submit_btn_css: 'btn btn-danger prepend-left-10'
