= form_for [@project.namespace.becomes(Namespace), @project, @milestone],
           html: {class: 'milestone-form common-note-form js-quick-submit js-requires-input'},
           data: { markdown_version: @milestone.cached_markdown_version }  do |f|
  = form_errors(@milestone)
  .row
    .col-md-6
      .form-group.row
        = f.label :title, "标题", class: "col-form-label col-sm-2"
        .col-sm-10
          = f.text_field :title, maxlength: 255, class: "form-control", required: true, autofocus: true
      .form-group.row.milestone-description
        = f.label :description, "描述", class: "col-form-label col-sm-2"
        .col-sm-10
          = render layout: 'projects/md_preview', locals: { url: preview_markdown_path(@project) } do
            = render 'projects/zen', f: f, attr: :description, classes: 'note-textarea', placeholder: '撰写里程碑描述...'
            = render 'shared/notes/hints'
          .clearfix
          .error-alert
    = render "shared/milestones/form_dates", f: f

  .form-actions
    - if @milestone.new_record?
      = f.submit '创建里程碑', class: "btn-create btn"
      = link_to "取消", project_milestones_path(@project), class: "btn btn-cancel"
    - else
      = f.submit '保存修改', class: "btn-save btn"
      = link_to "取消", project_milestone_path(@project, @milestone), class: "btn btn-cancel"
