- @no_container = true
- page_title '里程碑'

%div{ class: container_class }
  .top-area
    = render 'shared/milestones_filter', counts: milestone_counts(@project.milestones)

    .nav-controls
      = render 'shared/milestones_sort_dropdown'
      - if can?(current_user, :admin_milestone, @project)
        = link_to new_project_milestone_path(@project), class: "btn btn-new", title: '新建里程碑' do
          新建里程碑

  .milestones
    #delete-milestone-modal
    #promote-milestone-modal

    %ul.content-list
      = render @milestones

      - if @milestones.blank?
        %li
          .nothing-here-block 没有里程碑

    = paginate @milestones, theme: 'gitlab'
